/*	Slideshow   */
.box_slide{ width:654px; height:465px; display:block; position:relative;margin-left:-5px!important}
.box_slide img{ max-width:654px; max-height:465px; }
.box_slide .slide img{ width:654px; height:465px; }

#slides {
	top:0px;
	left:0px;
	position:relative; 

}

.slides_control{ width:654px; height:465px; }

.slides_container {
	width:654px;
	overflow:hidden;
	position:relative; 
	display:block; text-align:left;
}

.slides_container a {
	width:654px;
	height:465px;
	display:block; 
}

.slides_container a img {
	display:block; width:654px;
}

.slides_container div.slide {
	width:654px;
	height:465px;
	display:block;
}

.slide{ display:block; width:654px;  }

/*
	Next/prev buttons
*/
#slides .control_slide{
  display:block; width:654px; margin:0 auto; position:relative !important;   z-index:9;
}

#slides .next,#slides .prev {
	position:absolute; top:-270px;
	width:26px;
	height:62px; 
	display:block;

}
#slides .prev {
	left:0px;
}
#slides .next {
	right:0px; left:628px;
}

#__MainContainer form { background-color:rgb(23, 72, 103);
background-color:rgba(23, 72, 103, 0.4);}


#slides .pagination, #slides .pagination li { list-style: none; margin: 0; padding: 0; }
#slides .pagination { position: absolute; left: 0; bottom: -25px; width: 100%; text-align: center; }
#slides .pagination li { display: inline; }
#slides .pagination li a { display: inline-block; width: 10px; height: 10px; margin: 0 3px; text-indent: -999em; background: #15567F left top no-repeat; -webkit-border-radius:10px; -moz-border-radius:10px; -o-border-radius:10px; border-radius:10px; }
#slides .pagination li.current a { background-color:#ffffff; }

