.ui-rangeSlider {
position: relative;
text-align: right;
width: 575px;
margin: 0px 0px 0px 0px;
}


.ui-rangeSlider .ui-rangeSlider-innerBar {
height: 16px;
width: 575px ;
margin: 3px 0px 0px 0px;
background: url("../../../../images/slider_bg.png") no-repeat 0 0;
}


.ui-rangeSlider .ui-rangeSlider-bar {
margin: 3px 0;
background: url("../../../../images/slider_bg_active.png") no-repeat 0 0;
background-position: left ;
height: 20px;
cursor: move;
cursor: grab;
cursor: -moz-grab;
}


.ui-rangeSlider .ui-rangeSlider-handle {
z-index: 10;
width: 13px;
height: 20px;
border: 0px;
background: url("../../../../images/slider.png") no-repeat;
}



.ui-rangeSlider-label {
margin: 0 2px 2px 0;
background: url("../../../../images/bg_calendar_bb.png") center bottom no-repeat;
background-repeat: no-repeat;
bottom: 0px;
padding: 10px 0 10px 0;
cursor: col-resize;
width: 80px!important;
text-align: center;
}