     
	  
	  #carousel {
		
        width:360px;
        border:0px solid red;
        height:456px;
        position:relative;
        clear:both;
        overflow:hidden;
        background:#EEEEEE;
      }
	  
      #carousel span {
		display: inline-block;
        visibility:hidden; /* hide images until carousel can handle them */
        cursor:pointer; /* otherwise it's not as obvious items can be clicked */
		
      }
	  #frmIBOpenNewDreamAcc-coverFlowTP_tpwPlaceHolder #carousel .carouselCenter {
		background-color:#76B2D5!important;		
      }
	  
	  .carouselNormal #accountType{
			font-family: Arial;
			font-size: 16px;
			color: black;
			padding: 10% 0% 0% 0%!important;
	  }
	  .carouselNormal img{			
			padding: 10% 0% 0% 0%!important;
	  }
	  #frmIBOpenNewDreamAcc-coverFlowTP_tpwPlaceHolder #carousel .carouselNormal img{
			padding: 4% 0% 0% 0%!important;
      }
	   #frmIBOpenNewDreamAcc-coverFlowTP_tpwPlaceHolder #carousel .carouselCenter img{
			padding: 6% 0% 0% 0%!important;
      }
	  
	  .carouselNormal #amount{
			font-family: Arial;
			font-size: 20px;
			color: black;
			padding-bottom:3%!important;
	  }
	  
	  .carouselNormal #accNo{
			font-family: Arial;
			font-size: 11px;
			color: black;
			padding-top:3%!important;
	  }
	  
	  .carouselNormal #product{
			font-family: Arial;
			font-size: 11px;
			color: black;
			
	  }
	  
	  .carouselNormal #remFee{
			font-family: Arial;
			font-size: 11px;
			color: black;
			
	  }
		
	  .carouselNormal #Dream{
			font-family: Arial;
			font-size: 18px;
			line-height: 20px;
			color: #FFFFFF;
			margin-top:-2px!important;
			
	  }
		
	  
	  .carouselCenter #accountType{
			font-family: Arial;
			font-size: 20px;
			line-height:20px;
			color: black;
	  }
	  
	  .carouselCenter #amount{
			font-family: Arial;
			font-size: 24px;
			line-height:30px;
			color: black;
	  }
	  
	  .carouselCenter #accNo{
			font-family: Arial;
			font-size: 14px;
			line-height:20px;
			color: black;
	  }
	  
	  .carouselCenter #product{
			font-family: Arial;
			font-size: 14px;
			line-height:20px;
			color: black;
	  }
	  .carouselCenter #remFee{
			font-family: Arial;
			font-size: 14px;
			line-height:18px;
			color: black;
	  }
	  .carouselCenter #Dream{
			font-family: Arial;
			font-size: 24px;
			line-height: 50px;
			color: #FFFFFF;
			
	  }

	.carouselCenter table, .carouselNormal table { width:100%; }
	  
	 
	 
		.carouselUp{
			position:absolute;
			top: 0px;
			left:30%;
			z-index:7;
			width:115px;
			height: 6%;
			background: url(../../../../images/coverflow_up.png) center top no-repeat;
			
		}
		
		.carouselDown{
			position:absolute;
			bottom: 0px;
			left:30%;
			z-index:7;
			width:115px;
			height: 6%;
			background: url(../../../../images/coverflow_down.png) center bottom no-repeat;
		}
		
		.carouselLeft{
			position:absolute;
			left: 0px;
			top:46%;
			z-index:100;
			width:25px;
			height: 20px;
			background: url(../../../../images/coverflow_back.png) center center no-repeat;
		}
		
		.carouselRight{
			position:absolute;
			right: 0px;
			top:46%;
			z-index:100;
			width:25px;
			height: 23px;
			background: url(../../../../images/coverflow_forward.png) center center no-repeat;
		}